# Python Basic

List

In [4]:
mylist = ["apple", "banana", "peach", "cherry", "orange"]
print(mylist)
mylist.append("strawberry")
print(mylist)
mylist.insert(4,"lichee")
print(mylist)
mylist.remove("apple")
print(mylist)
mylist.reverse()
print(mylist)

['apple', 'banana', 'peach', 'cherry', 'orange']
['apple', 'banana', 'peach', 'cherry', 'orange', 'strawberry']
['apple', 'banana', 'peach', 'cherry', 'lichee', 'orange', 'strawberry']
['banana', 'peach', 'cherry', 'lichee', 'orange', 'strawberry']
['strawberry', 'orange', 'lichee', 'cherry', 'peach', 'banana']

Tuple

In [11]:
thistuple = ("german", "french", "hindi", "marathi", "english")
print(thistuple)
thistuple = ("german", "french", "hindi", "marathi", "english")
print(thistuple[2:5])
thistuple = ("german", "french", "hindi", "marathi", "english")
print(thistuple[0])
thistuple = ("german", "french", "hindi", "marathi", "english")
print(len(thistuple))
thattuple = (1, 2 ,3 ,4, 5)
tuple1 = thistuple + thattuple
print(tuple1)

('german', 'french', 'hindi', 'marathi', 'english')
('hindi', 'marathi', 'english')
german
5
('german', 'french', 'hindi', 'marathi', 'english', 1, 2, 3, 4, 5)

Dictionary

In [27]:
mydictionary= {"fname":"Anna", "age": 25, "education": "B.tech"}
print(mydictionary)
print(type(mydictionary))
mydictionary= {"fname":"Anna", "age": 25, "education": "B.tech"}
mydictionary.update({"age": 20})
print(mydictionary)
mydictionary["color"] = "blue"
print(mydictionary)
mydictionary.pop("age")
print(mydictionary)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

{'fname': 'Anna', 'age': 25, 'education': 'B.tech'}
<class 'dict'>
{'fname': 'Anna', 'age': 20, 'education': 'B.tech'}
{'fname': 'Anna', 'age': 20, 'education': 'B.tech', 'color': 'blue'}
{'fname': 'Anna', 'education': 'B.tech', 'color': 'blue'}
<class 'dict'>